@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .active-nav-link {
    @apply gray-background rounded py-2;
  }
  .green-button {
    @apply green-background rounded text-gray-100 font-bold py-2 px-4 hover:bg-green-500/90 cursor-pointer  transition-colors duration-300;
  }

  .green-background {
    @apply bg-green-700/80  backdrop-blur;
  }
  .blue-button {
    @apply hover:blue-background rounded text-gray-100 font-bold py-2 px-4 cursor-pointer blue-button-hover active:blue-button-hover shadow;
  }

  .blue-button-hover {
    @apply bg-gradient-to-b from-blue-500 to-blue-600 transition-colors duration-300;
  }

  .blue-background {
    @apply bg-gradient-to-b from-blue-600 to-blue-700;
  }

  .dark-blue-background {
    @apply bg-gradient-to-b to-gray-950/80 from-blue-950/80 backdrop-blur;
  }

  .gray-button {
    @apply gray-background rounded text-gray-100 font-bold py-2 px-4 cursor-pointer  transition-colors duration-300;
  }

  .gray-button-hover {
    @apply hover:bg-gradient-to-t hover:from-gray-500/80 hover:to-gray-600/80 rounded transition-colors font-bold;
  }

  .gray-background {
    @apply backdrop-blur overflow-auto bg-gradient-to-b from-gray-600/80 to-gray-700/80;
  }

  .dark-gray-background {
    @apply backdrop-blur overflow-auto bg-gradient-to-b from-gray-800/80 to-gray-900/80;
  }

  .observation-option-bg {
    @apply bg-gradient-to-b from-gray-500 to-gray-600;
  }
  .observation-option-selected-bg {
    @apply bg-gradient-to-b from-green-500 to-green-600;
  }

  .observation-option-after {
    @apply content-[''] absolute inset-0 bg-gradient-to-b from-green-500 to-green-600 opacity-0 transition-all duration-300 -z-10 rounded;
  }

  .observation-option {
    @apply rounded relative z-20 flex text-center py-2 items-center justify-center h-full  observation-option-bg
    after:observation-option-after
      peer-checked:after:opacity-100;
  }

  .red-button {
    @apply bg-red-700 rounded text-gray-100 font-bold py-2 px-4 cursor-pointer hover:bg-red-500 transition-colors duration-300;
  }

  .site-link {
    @apply font-bold underline text-blue-200;
  }

  .page-title {
    @apply animate-home-title-shimmer font-bold text-2xl p-4 text-center mb-6;
  }
}
